{% extends 'base.html' %}
{% load static %}

{% block title %}
    ثبت درخواست {{ service.name }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ info.about_me }}">
    <meta name="keywords" content="بلوتیک , ساخت سایت , تبلیغات , آموزش ادمینی , دیجیتال مارکتینگ , bluetick , blue tick">
{% endblock %}


{% block content %}

        <article class="container mx-auto">

        <section class="py-[100px] flex items-center justify-center">

            <!--Card-->
            <div class="card p-4 text-center w-full lg:w-[500px] rounded-xl
            bg-white dark:bg-white/5 dark:border
            dark:border-white/20 shadow-xl">
                <div class="card-header pb-3 text-blue-500">
                    <i class="{{ service.icon }} text-8xl"></i>
                    <h1 class="text-2xl">فرم درخواست {{ service.name }}</h1>
                </div>
                <div class="card-content mt-5">
                    <form method="post" class="flex flex-col gap-3 [&_input]:outline-none dark:[&_input]:bg-white/5">
                        {% csrf_token %}
                        <div>
                            <label for="fullname"></label>
                            <input required name="fullname" id="fullname" class="w-full ps-3 py-4 border dark:border-white/20 rounded-xl
                            shadow-xl focus:border-blue-500" type="text" placeholder="نام و نام خانوادگی">
                        </div>
                        <div>
                            <label for="email"></label>
                            <input required name="phone" id="email" class="w-full ps-3 py-4 border dark:border-white/20 rounded-xl
                            shadow-xl focus:border-blue-500" type="text" placeholder='شماره تلفن'>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-800
                        rounded-xl p-4 text-white transition duration-75
                        active:scale-95">ارسال</button>
                    </form>
                </div>
            </div>
            <!--Card End-->

        </section>
    </article>

{% endblock %}
