{% load static %}
<!DOCTYPE html>
<html lang="en", dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueTick</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
</head>
<body class="bg-slate-100 overflow-x-hidden">

    <!--Header-->
    {% include "main_app/header.html" %}
    <!--Header End-->

    <article class="container mx-auto">
        <section class="py-[100px] flex items-center justify-center">

            <!--Card-->
            <div class="card p-4 text-center w-full lg:w-[500px] rounded-xl
            bg-white shadow-xl">
                <div class="card-header pb-3 text-blue-500">
                    <i class="{{ service.icon }} text-8xl"></i>
                    <h1 class="text-2xl">فرم درخواست {{ service.name }}</h1>
                </div>
                <div class="card-content">
                    <form method="post" class="flex flex-col gap-3 [&_input]:outline-none">
                        {% csrf_token %}
                        <div>
                            <label for="fullname"></label>
                            <input required name="fullname" id="fullname" class="w-full ps-3 py-4 border rounded-xl
                            shadow-xl focus:border-blue-500" type="text" placeholder="نام و نام خانوادگی">
                        </div>
                        <div>
                            <label for="email"></label>
                            <input required name="phone" id="email" class="w-full ps-3 py-4 border rounded-xl
                            shadow-xl focus:border-blue-500" type="text" placeholder='شماره تلفن'>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-800 
                        rounded-xl p-4 text-white transition duration-75
                        active:scale-95">ارسال</button>
                    </form>
                </div>
            </div>
            <!--Card End-->

        </section>
    </article>    

    <script src="{% static 'main_app/js/alpineJsControllers/alpineJsController.js' %}"></script>
    <script defer src="{% static 'main_app/js/alpine.js' %}"></script>
    <script src="{% static 'main_app/js/app.js' %}"></script>
</body>
</html>