{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blue Tick
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ info.about_me }}">
    <meta name="keywords" content="بلوتیک , ساخت سایت , تبلیغات , آموزش ادمینی , دیجیتال مارکتینگ , bluetick , blue tick">
{% endblock %}

{% block content %}

<!--Bottom Icons-->
<div class="tool-box container mx-auto
lg:shadow-none rounded-2xl fixed
bottom-5 right-0 left-0 z-10">
    <div class="grid grid-cols-4 p-3 [&_a]:flex
    rounded-xl [&_a]:flex-col [&_a]:gap-2 [&_a]:h-full
    [&_a]:text-center lg:w-[400px] lg:mx-auto
    [&_.icon]:w-[50px] [&_.icon]:h-[50px]
    [&_.icon]:flex [&_.icon]:items-center
    [&_.icon]:justify-center [&_.icon]:text-2xl
    [&_.icon]:p-2 [&_.icon]:mx-auto
    [&_.icon]:rounded-2xl dark:border bg-white dark:bg-white/5 shadow-xl
    dark:backdrop-blur-xl dark:border-white/20 dark:shadow-none
    to-blue-500
    [&_.icon]:bg-blue-500 [&_.icon]:text-white
    [&_i]:drop-shadow-2xl">
        {% for i in service %}
            <a href="{% url "Service_detail" i.slug %}">
                <div class="icon *:flex *:items-center">
                    <i class="{{ i.icon }}"></i>
                </div>
                <h1 class="break-words">{{ i.name }}</h1>
            </a>
        {% endfor %}
    </div>
</div>
<!--Bottom Icons End-->

<article>

    <!--First Banner-->
    <section class="Banner container mx-auto
    md:py-[20px] lg:py-[50px] py-[20px]" data-aos="zoom-in" data-aos-duration="2000">
        {% if not info.image %}
            <img src="{% static 'main_app/img/Website-Design.jpg' %}" alt="BlueTick" class="object-cover
            rounded-xl w-screen lg:h-[300px]">
            {% else %}
            <img src="{{ info.image.url }}" alt="BlueTick" class="object-cover
            rounded-xl w-screen lg:h-[300px]">
        {% endif %}
    </section>
    <!--First Banner End-->

    <section class="question_icons grid grid-cols-1
    lg:grid-cols-2 gap-5 container mx-auto pb-[150px]">
        <div class="order-2" data-aos="zoom-in" data-aos-duration="2000">
             <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for i in ads %}
                        <div class="swiper-slide {% if forloop.first %} active {% endif %}">
                            <img src="{{ i.image.url }}" alt="BlueTick">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="box grid grid-cols-4 gap-3 lg:gap-0
        rounded-2xl shadow-xl p-4
        [&_a]:flex bg-white dark:bg-transparent
        border border-white/20
        [&_a]:flex-col [&_a]:text-center
        [&_a]:gap-2 [&_i]:text-3xl
        [&_.icon]:p-2 [&_.icon.active]:bg-blue-500
        [&_.icon:not(.active)]:bg-blue-500
        [&_.icon:not(.active)]:opacity-50
        [&_.icon:not(.active)]:text-slate-200
        [&_.icon]:w-[50px]
        [&_.icon]:h-[50px] [&_.icon]:mx-auto
        [&_.icon]:rounded-lg [&_.icon]:text-white
        [&_i]:drop-shadow-2xl" data-aos="zoom-in" data-aos-duration="2000">
            {% for i in app %}
                {% if i.show %}
                    <a href="{% url "app_detail" i.slug %}">
                        <div class="icon active">
                            <i class="{{i.icon}}"></i>
                        </div>
                        <h1 class="break-words">{{ i.name }}</h1>
                    </a>
                {% else %}
                    <a>
                    <div class="icon">
                        <i class="bi bi-question-lg"></i>
                    </div>
                    <h1 class="break-words">به زودی</h1>
                </a>
                {% endif %}
            {% endfor %}
    </section>

</article>

{% endblock %}