{% load static %}
<!--Header-->
<header class="flex justify-center" x-data="showMenu()">
    <!--Navbar-->
    <nav class="container dark:border-2
    dark:border-white/20 mt-3
    dark:rounded-xl p-4 flex flex-row items-center">

        <!--Navbar Logo-->
        <a href="#" data-aos="zoom-in" data-aos-duration="2000" class="navbar-logo text-blue-500
        font-bold text-2xl order-2 ms-auto">
            <img src="{% static 'main_app/img/خوابیده.png' %}" alt="" class="h-[80px]">
        </a>
        <!--Navbar Logo End-->

        <div class="menu-icons flex gap-2 items-center
        *:bg-gray-200 dark:*:bg-white/5 *:transition
        *:p-2 *:rounded-xl *:w-[50px] *:h-[50px] hover:*:bg-gray-300
        dark:hover:*:bg-white/10
        *:flex *:items-center *:justify-center [&_i]:flex">

            <div class="menu-icon text-3xl
                cursor-pointer lg:hidden"
                x-on:click="open = !open">
                <i class="bi bi-list"></i>
            </div>

            <div class="dark-btn text-2xl
                cursor-pointer">
                <i class="bi bi-moon"></i>
            </div>

        </div>

        <ul class="hidden
        lg:flex flex-row ms-auto *:w-[50px] *:h-[50px]
        *:flex *:items-center *:justify-center
        [&_i]:flex *:bg-gray-200 dark:*:bg-white/5 *:rounded-xl gap-5
        [&_i]:text-2xl hover:*:bg-blue-500 dark:hover:*:bg-blue-500 hover:*:text-white
        *:transition *:duration-150">
            <a href="tel:{{ info.phone }}">
                <li>
                    <i class="bi bi-telephone"></i>
                </li>
            </a>
            <a href="{{ info.whatsapp }}">
                <li>
                    <i class="bi bi-whatsapp"></i>
                </li>
            </a>
            <a href="{{ info.telegram }}">
                <li>
                    <i class="bi bi-telegram"></i>
                </li>
            </a>
            <a href="{{ info.instagram }}">
                <li>
                    <i class="bi bi-instagram"></i>
                </li>
            </a>
        </ul>

        <span class="w-screen z-20 backdrop-blur-sm
        bg-black/50 lg:hidden
        h-screen fixed right-0 bottom-0"
        x-show="open" x-transition
        x-on:click="open = ! open"></span>

        <!--Mobile Demo-->
        <div class="mobile-demo fixed lg:hidden text-white border border-white/20
        right-0 top-0 bottom-0 shadow-xl bg-white/5 backdrop-blur-xl
        h-full w-[300px] z-30 flex flex-col" x-show="open" x-transition>
            <div class="p-5 flex justify-between">
                <a href="index.html" class="navbar-logo
                font-bold text-2xl text-blue-500">
                    <img src="{% static 'main_app/img/خوابیده.png' %}" alt="" class="h-[80px]">
                </a>
                <button class="btn-close" x-on:click="open = false">
                    <i class="bi bi-x-lg text-2xl"></i>
                </button>
            </div>
            <div class="about_us p-3">
                <h1 class="text-2xl pb-3">درباره ما</h1>
                <hr>
                <p class="pt-2 break-words">
                    {{ info.about_me }}
                </p>
            </div>
            <div class="contact_items mt-auto flex flex-col
            items-center justify-center gap-3 mb-10
            hover:[&_a]:text-blue-500 text-white">
                <ul class="social-media flex gap-5 text-2xl">
                    <a href="{{ info.whatsapp }}">
                        <li>
                            <i class="bi bi-whatsapp"></i>
                        </li>
                    </a>
                    <a href="{{ info.telegram }}">
                        <li>
                            <i class="bi bi-telegram"></i>
                        </li>
                    </a>
                    <a href="{{ info.instagram }}">
                        <li>
                            <i class="bi bi-instagram"></i>
                        </li>
                    </a>
                </ul>
                <div class="phone_numbers flex gap-1">
                    <h1>شماره تماس:</h1>
                    <a href="tel:{{ info.phone }}" class="persian_digits">
                        {{ info.phone }}
                    </a>
                </div>
            </div>
        </div>
        <!--Mobile Demo End-->
    </nav>
    <!--Navbar End-->
</header>
<!--Header End-->
